@{
    ViewBag.Title = "Home";
}
<h1>@ViewBag.a</h1>
<!--侧边导航-->
<div class="anchor_nav affix" data-spy="affix">
    <a class="anchor_link" href="#cont-top">
        <div class="anchor_title">
            <i class="fa fa-thumbs-up"></i>
            <div>热门</div>
        </div>
    </a>
    <a class="anchor_link" href="#cont-new">
        <div class="anchor_title">
            <i class="fa fa-leaf"></i>
            <div>最新</div>
        </div>
    </a>
    <a class="anchor_link" href="#cont-recommend">
        <div class="anchor_title">
            <i class="fa fa-star"></i>
            <div>推荐</div>
        </div>
    </a>
    <a class="anchor_link" href="#all">
        <div class="anchor_title" title="回顶部">
            <div class="fa fa-rocket anchor_goHome"></div>
        </div>
    </a>
</div>
<div>
    <!--class="well"-->
    <div class="cont cont-top" id="cont-top">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="nav">
                    <div class="pull-left">TOP</div>
                    <div class="pull-right">
                        <a href="#" class="btn-link">more</a>
                    </div>
                </div>
            </div>
            <div class="panel-body image-parent">
                <div id="jotting_Top" class="jotting_parent">
                </div>
                <div id="scrawl_Top" class="container-fluid moduleParent">
                </div>
            </div>
        </div>
    </div>
    <div class="cont cont-new" id="cont-new">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="nav">
                    <div class="pull-left">NEW</div>
                    <div class="pull-right">
                        <a href="#" class="btn-link">more</a>
                    </div>
                </div>
            </div>
            <div class="panel-body image-parent">
                <!--子模块-->
                <div id="jotting_New" class="jotting_parent">
                </div>
                <div id="scrawl_New" class="container-fluid moduleParent">
                </div>
            </div>
        </div>
    </div>
    <div class="cont cont-recommend" id="cont-recommend">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="nav">
                    <div class="pull-left">RECOMMEND</div>
                    <div class="pull-right">
                        <a href="#" class="btn-link">more</a>
                    </div>
                </div>
            </div>
            <div class="panel-body image-parent">
                <div id="jotting_RE" class="jotting_parent">
                </div>
                <div id="scrawl_RE" class="container-fluid moduleParent">
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/index")