<!--表单验证-->
<link href="../Content/bootstrap/bootstrapValidator.css" rel="stylesheet" />
<script src="../Scripts/bootstrap/bootstrapValidator.js"></script>
<script src="../Scripts/bootstrap/bootstrapValidator_zh_CN.js"></script>
<style type="text/css">
    #retrievePassword1, #retrievePassword2 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 0;
    }

    .form-control-feedback {
        top: 8px;
    }
</style>
<div class="signup_context panel panel-default">
    <div class="panel-heading signup_title clearfix">
        <p class="pull-left">找回密码</p>
    </div>
    <div class="panel-body">
        <form role="form" id="retrievePassword1" method="post" class="form-horizontal hidden">
            <div class="signup_content">
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-2 control-label">账号</label>
                    <div class="col-lg-3">
                        <input type="email" class="form-control" name="email" placeholder="请输入您注册的邮箱地址" />
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-primary" type="button">发送验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-2 control-label">验证码</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" name="verificationCode" placeholder="输入验证码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 col-lg-offset-7">
                        <button class="btn btn-success" type="submit">找回密码</button>
                    </div>
                </div>
            </div>
        </form>
        <form role="form" id="retrievePassword2" method="post" class="form-horizontal">
            <div class="signup_content">
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-2 control-label">账号</label>
                    <div class="col-lg-3">
                        <label class="control-label">neclodiver@live.com</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-2 control-label">新密码</label>
                    <div class="col-lg-3">
                        <input type="password" class="form-control" name="password" placeholder="请输入新的密码" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-lg-offset-2 control-label">重复密码</label>
                    <div class="col-lg-3">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="请再一次输入上方的密码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2 col-lg-offset-6">
                        <button class="btn btn-success" type="submit">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#retrievePassword1').bootstrapValidator({
            message: '这个值是无效的',
            feedbackIcons: {/*输入框不同状态，显示图片的样式*/
                valid: 'fa fa-check',
                invalid: 'fa fa-close',
                validating: 'fa fa-refresh'
            },
            fields: {/*验证*/
                email: {
                    validators: {
                        notEmpty: {
                            message: '请输入登录账号'
                        },
                        emailAddress: {
                            message: '输入的不是一个有效的电子邮件地址'
                        }
                        //,
                        //remote: {/*远程验证*/
                        //    url: 'remote.aspx',
                        //    message: '此电子邮箱已被使用，请输入正确的邮箱地址'
                        //}
                    }
                },
                verificationCode: {
                    message: '验证码无效',
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: '验证码长度错误'
                        }
                    }
                }
            }
        });
        $('#retrievePassword2').bootstrapValidator({
            message: '这个值是无效的',
            feedbackIcons: {/*输入框不同状态，显示图片的样式*/
                valid: 'fa fa-check',
                invalid: 'fa fa-close',
                validating: 'fa fa-refresh'
            },
            fields: {/*验证*/
                password: {
                    message: '密码无效',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 20,
                            message: '密码长度必须在6到20之间'
                        },
                        different: {
                            field: 'username',
                            message: '密码不能和用户名相同'
                        },
                        regexp: {
                            regexp: /^((?!\d+$)(?![a-zA-Z]+$)[a-zA-Z\d@@#$%^&_+].{5,19})+$/,
                            message: '密码只能由字母、数字、字符的最少两个组合'
                        }
                    }
                },
                confirmPassword: {
                    message: '重复密码无效',
                    validators: {
                        notEmpty: {},
                        identical: {
                            field: 'password',
                            message: '两次输入的密码不一致'
                        }
                    }
                }
            }
        });
    });
</script>

