<div class="jotting_thumbnail thumbnail">
    <div class="jotting_portrait" data-philter-grayscale="70 0">
        <a href="javascript:void(0);">
            <img width="130" class="jotting_img img-circle img-thumbnail" src="../Images/user-ceshi.jpg" />
        </a>
    </div>
    <div class="jotting_caption">
        <div class="jotting_title">张三张三张三{0}</div>
        <div class="jotting_content">
            张三张三张三张三张三张三张三张三张三张三张三张三张三张三张三哈哈哈哈测试啊
        </div>
        <div class="jotting_author">
            —— by <a target="_blank" href="javascript:void(0);">NECC</a>
        </div>
    </div>
</div>
