<div class="workArticle_thumbnail thumbnail">
    <div class="work_article">
        <div class="work_article_title">
            <a class="linkstyle" href="javascript:void(0);"><p>大河向东流，天上的星星参北斗！{0}</p></a>
        </div>
        <div class="work_article_content hide">
            <a class="linkstyle" href="javascript:void(0);">
                <p>
                    大河向东流哇
                    天上的星星参北斗哇
                    说走咱就走你有我有全都有
                    路见不平一声吼哇
                    该出手时就出手哇
                    大河向东流哇{0}
                </p>
            </a>
        </div>
    </div>
    <div class="work_info">
        <div class="work_info_top">
            <div class="work_info_love pull-left">
                <p><em class="fa fa-heart"></em> 1000{0}</p>
            </div>
            <div class="work_info_comment pull-left">
                <p><em class="fa fa-comment"></em> 1000{0}</p>
            </div>
            <div class="work_info_look pull-left">
                <p><em class="fa fa-eye"></em> 1000{0}</p>
            </div>
        </div>
        <br />
        <div class="work_info_bottom">
            <div class="work_tips pull-left">
                <span class="tips_hot fa fa-thermometer-full" title="热门"></span>
                <span class="tips_digest fa fa-bookmark" title="精品"></span>
            </div>
            <div class="work_info_time pull-right">
                <p><em class="fa fa-clock-o"></em> 1000{0}天前</p>
            </div>
        </div>
    </div>
</div>
