<div class="thumbnail img_thumbnail">
    <div class="imgs" data-philter-grayscale="100 0">
        <input type="hidden" value="test{0}.jpg">
        <a href="../Images/DM/test{0}.jpg" data-lightbox="lightbox_" title="图集第{0}张&nbsp;&nbsp;(by NECC)"><img src="../Images/DM/test{0}.jpg"></a>
    </div>
    <div class="caption">
        <div class="title">图集第{0}张</div>
        <div class="content">
            大家一定有过与众多逗比相处的日子，逗比嘛，逗得不行，逗得不行，逗得不行，逗得不行，逗得不行，逗得不行，end...
        </div>
        <div class="author">
            by <a target="_blank" href="http://www.notlives.cc/Image/Wallpaper/{0}.jpg">NECC</a>
        </div>
    </div>
</div>

