<div class="user_thumbnail thumbnail">
    <div class="user_portrait pull-left" data-philter-grayscale="70 0">
        <a href="javascript:void(0);">
            <img width="110" class="user_img img-circle img-thumbnail" src="../../Images/ceshi/pianpian.jpg" />
        </a>
    </div>
    <div class="user_info pull-left">
        <div class="user_info_top">
            <div class="user_info_name">
                <a href="javascript:void(0);"><p>bain-片片{0}</p></a>
            </div>
            <div class="user_info_site">
                <p><em class="fa fa-map-marker"></em> china 江苏{0}</p>
            </div>
            <div class="user_info_workparent">
                <div class="user_info_work pull-left">
                    <p title="作品"><em class="fa fa-file"></em> <a>10000{0}</a></p>
                </div>
                <div class="user_info_popularity pull-left">
                    <p title="人气"><em class="fa fa-sort-amount-desc"></em> <a>100000{0}</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="user_info_signature">
                <p title="签名"><em class="fa fa-edit"></em> {0}大河向东流啊，天上的星星参北斗~~~</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
