<div class="work_thumbnail thumbnail">
    <div class="work_portrait" data-philter-grayscale="70 0">
        <a href="../../Images/ceshi/wuyahisi.jpg" data-lightbox="lightbox_">
            <img class="work_img" src="../../Images/ceshi/wuyahisi.jpg" />
        </a>
    </div>
    <div class="work_caption">
        <div class="work_title">
            <div class="work_title_content pull-left">
                <a class="linkstyle" href="javascript:void(0);"><p>大河向东流啊！天上的星星参北斗！{0}</p></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="work_info">
            <div class="work_info_top clearfix">
                <div class="work_info_love pull-left">
                    <p><em class="fa fa-heart"></em> 1000{0}</p>
                </div>
                <div class="work_info_comment pull-left">
                    <p><em class="fa fa-comment"></em> 1000{0}</p>
                </div>
                <div class="work_info_look pull-left">
                    <p><em class="fa fa-eye"></em> 1000{0}</p>
                </div>
            </div>
            <div class="work_info_bottom clearfix">
                <div class="work_tips pull-left">
                    <span class="tips_hot fa fa-thermometer" title="热门"></span>
                    <span class="tips_digest fa fa-bookmark" title="精品"></span>
                </div>
                <div class="work_info_time pull-right">
                    <p><em class="fa fa-clock-o"></em> 1000{0}天前</p>
                </div>
            </div>
        </div>
    </div>
</div>
