<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="D:\temp\nlog-internal.log" >

  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/${shortdate}.log"
             layout="${stacktrace} ${message}"/>
    <target xsi:type="Database" name="db" dbProvider="mssql"
      connectionString="Data Source=192.168.0.82\MSSQL;Initial Catalog=Personal;User ID=sa;Password=8888;">
      <commandText>
        insert into dbo.Log ( Logged, Level, Message, Logger, CallSite )
        values ( @logged, @level, @message,@logger, @callsite );
      </commandText>
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite}" />
    </target>
    
    <target bufferSize="5" name="ErrorMail" xsi:type="BufferingWrapper">
      <target xsi:type="Mail"
         smtpServer="mail.cdce.cn"
         smtpPort="587"
         smtpAuthentication="Basic"
         smtpUserName="xxxx"
         smtpPassword="xxxx"
         enableSsl="true"
         addNewLines="true"
         from="xxxx"
         to="xxxx"
         subject="${machinename} 于 ${shortdate} ${time} Log级别：${level} 出现错误！"
         header="========================================================================="
         body="${newline}
               发生时间：${longdate} ${newline}${newline}
               Log等级：${level:uppercase=true} ${newline}${newline}
               Logger：${logger} ${newline}${newline}
               Source：${callsite:className=true} ${newline}${newline}
               使用者：${newline}${newline}
               Exception类别：${exception:format=type} ${newline}${newline}
               错误消息：${message} ${newline}${newline}"
         footer="=========================================================================" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Warn" writeTo="db"/>
    <logger name="*" minlevel="Error" writeTo="ErrorMail" />
  </rules>
</nlog>