<!DOCTYPE html>
<html>
<head>
    <script src="../Scripts/angular.js"></script>
    <script type="text/javascript">
        var myModule = angular.module('drag', []);
        myModule.directive('draggable', function ($document) {
            var startX = 0, startY = 0, x = 0, y = 0;
            return function (scope, element, attr) {
                element.css({
                    position: 'relative',
                    border: '1px solid red',
                    backgroundColor: 'lightgrey',
                    cursor: 'pointer'
                });
                element.bind('mousedown', function (event) {
                    startX = event.screenX - x;
                    startY = event.screenY - y;
                    $document.bind('mousemove', mousemove);
                    $document.bind('mouseup', mouseup);
                });
                function mousemove(event) {
                    y = event.screenY - startY;
                    x = event.screenX - startX;
                    element.css({
                        top: y + 'px',
                        left: x + 'px'
                    });
                }
                function mouseup() {
                    $document.unbind('mousemove', mousemove);
                    $document.unbind('mouseup', mouseup);
                }
            };
        });

        myModule.controller('HelloAngular', ['$scope', function HelloAngular($scope) {
            $scope.greeting = {
                text:'Hello'
            };
        }]);
        myModule.directive('hello', function () {
            return {
                restrict: 'E',
                template: '<div>Hello SB!</div>',
                replace:true
            };
        });

    </script>
</head>
<body ng-app="drag">
    <div>
        I can add:{{1+2}}.
        <span draggable>Drag Me</span>
        <br />
        <hr />
        <div>
            <p ng-init="name='SB'">Hello {{name}}</p>
            <br />
            <hr />
            <div ng-controller="HelloAngular">
                <input type="password" ng-model="greeting.text" />
                <p>{{greeting.text}},Angular</p>
                <hello></hello>
            </div>
        </div>
        <br />
        <hr />
        <div>
            <input type="text" ng-model="wahaha" />
            <p>{{wahaha}},Angular.js</p>
        </div>
    </div>

</body>
</html>