<link href="../../../Content/manager/safe-index.css" rel="stylesheet" />

<div class="safe_index_context">
    <div class="safe_index safe_index_news clearfix">
        <div class="safe_index_child safe_index_xiaoxi  panel panel-default pull-left">
            <div class="safe_ic_top pull-right">
                <p class="safe_ic_number">999+</p>
                <span class="safe_ic_name pull-right">新消息</span>
            </div>
            <div class="pull-left safe_ic_top_ico fa fa-bell"></div>
            <div class="clearfix"></div>
            <div class="safe_ic_bottom clearfix">
                <a class="safe_icb_link linkstyle">
                    <span class="safe_icbl_name pull-left">查看更多<em class="fa fa-chevron-circle-right pull-right"></em></span>
                </a>
            </div>
        </div>
        <div class="safe_index_child safe_index_cuowu  panel panel-default pull-left">
            <div class="safe_ic_top pull-right">
                <p class="safe_ic_number">999+</p>
                <span class="safe_ic_name pull-right">错误汇报</span>
            </div>
            <div class="pull-left safe_ic_top_ico fa fa-times"></div>
            <div class="clearfix"></div>
            <div class="safe_ic_bottom clearfix">
                <a class="safe_icb_link linkstyle">
                    <span class="safe_icbl_name pull-left">查看更多<em class="fa fa-chevron-circle-right pull-right"></em></span>
                </a>
            </div>
        </div>
        <div class="safe_index_child safe_index_fangwen  panel panel-default pull-left">
            <div class="safe_ic_top pull-right">
                <p class="safe_ic_number">99999+</p>
                <span class="safe_ic_name pull-right">访问统计</span>
            </div>
            <div class="pull-left safe_ic_top_ico fa fa-pie-chart"></div>
            <div class="clearfix"></div>
            <div class="safe_ic_bottom clearfix">
                <a class="safe_icb_link linkstyle">
                    <span class="safe_icbl_name pull-left">查看更多<em class="fa fa-chevron-circle-right pull-right"></em></span>
                </a>
            </div>
        </div>
        <div class="safe_index_child safe_index_zhuce  panel panel-default pull-left">
            <div class="safe_ic_top pull-right">
                <p class="safe_ic_number">9999+</p>
                <span class="safe_ic_name pull-right">注册用户</span>
            </div>
            <div class="pull-left safe_ic_top_ico fa fa-pie-chart"></div>
            <div class="clearfix"></div>
            <div class="safe_ic_bottom clearfix">
                <a class="safe_icb_link linkstyle">
                    <span class="safe_icbl_name pull-left">查看更多<em class="fa fa-chevron-circle-right pull-right"></em></span>
                </a>
            </div>
        </div>
    </div>

    <style type="text/css">
        .safe_index_page2 {
        }

        .safe_ip2_tubiao {
        }
        .chart{
            width:auto;
            height:360px;
        }
        .chart-visit{

        }
        .safe_ip2t_content{
            border:1px solid #eee;
        }

    </style>
    <div class="safe_index safe_index_page2">
        <div class="safe_ip2_tubiao">
            <div class="safe_ip2t_title"><p></p></div>
            <div class="safe_ip2t_content">
                <div id="visitChart" class="chart chart-visit"></div>
            </div>
        </div>
    </div>
    <div class="safe_index safe_index_page3">
        <div class="safe_ip2_tubiao">
            <div class="safe_ip2t_title"><p></p></div>
            <div class="safe_ip2t_content">
                <div id="signupChart" class="chart chart-signup"></div>
            </div>
        </div>
    </div>
</div>
<!--数据图表-->
<script src="../../../Scripts/echarts/echarts-all.js"></script>
<script src="../../../Scripts/manage/safe-index.js"></script>